.product-list {
    display: flex;
    flex-direction: column;
  }
  
  .product-list__h1 {
    display: block;
    width: 100%;
  }
  
  .product-list__search {
    width: 500px;
    height: 30px;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .product-list__select {
    width: 500px;
    height: 30px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-list__list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  